*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* border: 1px solid black; */
    height: 100vh;
    width: 100vw;
    display: flex;
}
.left{
    /* border: 1px solid red; */
    height: inherit;
    width: 70%;
}
.right{
    /* border: 1px solid red; */
    height: inherit;
    width: 50%;
    background-image: url(./train.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.top{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.images{
    width: 40%;
    padding: 10px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}
.items{
    width: 60%;
    padding: 10px;
    font-weight: bold;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
}
.items button{
    padding: 3px;
    border-radius: 5px;
    /* border: 1px solid black; */
    background-color: white;
}
.middle{
    /* border: 1px solid red; */
    margin: 50px;

}
.middle h1{
    margin: 10px;
    font-size: 40px;
}
.head{
    display: flex;
    gap: 10px;
    margin: 10px;
    font-size: 25px;

}
.tic button{
    padding: 8px;
    margin: 10px;
    border-radius: 2px;
    border: 1px solid black;
    background-color: white;
}
.train1{
    border: 1px solid black;
    margin: 10px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.train2{
    border: 1px solid black;
    margin: 10px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search{
    padding: 10px 10px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search button{
    background-color:  green;
    border: none;
    color: white;
}